<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2008-14 Owebia
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @website    http://www.owebia.com/
 * @project    Magento Owebia Shipping 2 module
 * @author     Antoine Lemoine
 * @license    http://www.opensource.org/licenses/MIT  The MIT License (MIT)
**/
-->
<config>
	<tabs>
		<owebia>
			<label>Owebia</label>
			<sort_order>300</sort_order>
		</owebia>
	</tabs>
	<sections>
		<carriers>
			<show_in_store>1</show_in_store>
			<groups>
				<owebiashipping1 translate="label" module="shipping">
					<label>Owebia Shipping - Mode de livraison 1</label>
					<frontend_type>text</frontend_type>
					<sort_order>-19</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<informations translate="label">
							<label>Informations</label>
							<frontend_model>owebia_shipping2/adminhtml_system_config_form_field_informations</frontend_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</informations>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<config translate="label">
							<label>Configuration</label>
							<frontend_model>owebia_shipping2/adminhtml_system_config_form_field_config</frontend_model>
							<frontend_type>textarea</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</config>
						<tracking_view_url translate="label">
							<label>Tracking URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</tracking_view_url>
						<debug translate="label">
							<label>Debug</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{debug_help}</comment>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</debug>
						<compression translate="label">
							<label>Compression</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{compression_help}</comment>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</compression>
						<auto_escaping translate="label">
							<label>Auto-escaping</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{auto_escaping_help}</comment>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auto_escaping>
						<auto_correction translate="label">
							<label>Auto-correction</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{auto_correction_help}</comment>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auto_correction>
						<stop_to_first_match translate="label">
							<label>Stop to first match</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</stop_to_first_match>
						<sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sort_order>
					</fields>
				</owebiashipping1>
				<owebiashipping3 translate="label" module="shipping">
					<label>Owebia Shipping - Mode de livraison 3</label>
					<frontend_type>text</frontend_type>
					<sort_order>-17</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<informations translate="label">
							<label>Informations</label>
							<frontend_model>owebia_shipping2/adminhtml_system_config_form_field_informations</frontend_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</informations>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<config translate="label">
							<label>Configuration</label>
							<frontend_model>owebia_shipping2/adminhtml_system_config_form_field_config</frontend_model>
							<frontend_type>textarea</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</config>
						<tracking_view_url translate="label">
							<label>Tracking URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</tracking_view_url>
						<debug translate="label">
							<label>Debug</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{debug_help}</comment>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</debug>
						<compression translate="label">
							<label>Compression</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{compression_help}</comment>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</compression>
						<auto_escaping translate="label">
							<label>Auto-escaping</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{auto_escaping_help}</comment>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auto_escaping>
						<auto_correction translate="label">
							<label>Auto-correction</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{auto_correction_help}</comment>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auto_correction>
						<stop_to_first_match translate="label">
							<label>Stop to first match</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</stop_to_first_match>
						<sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sort_order>
					</fields>
				</owebiashipping3>
				<owebiashipping2 translate="label" module="shipping">
					<label>Owebia Shipping - Mode de livraison 2</label>
					<frontend_type>text</frontend_type>
					<sort_order>-18</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<informations translate="label">
							<label>Informations</label>
							<frontend_model>owebia_shipping2/adminhtml_system_config_form_field_informations</frontend_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</informations>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<config translate="label">
							<label>Configuration</label>
							<frontend_model>owebia_shipping2/adminhtml_system_config_form_field_config</frontend_model>
							<frontend_type>textarea</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</config>
						<tracking_view_url translate="label">
							<label>Tracking URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</tracking_view_url>
						<debug translate="label">
							<label>Debug</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{debug_help}</comment>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</debug>
						<compression translate="label">
							<label>Compression</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{compression_help}</comment>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</compression>
						<auto_escaping translate="label">
							<label>Auto-escaping</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{auto_escaping_help}</comment>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auto_escaping>
						<auto_correction translate="label">
							<label>Auto-correction</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{auto_correction_help}</comment>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auto_correction>
						<stop_to_first_match translate="label">
							<label>Stop to first match</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</stop_to_first_match>
						<sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sort_order>
					</fields>
				</owebiashipping2>
				<owebiashipping4 translate="label" module="shipping">
					<label>Owebia Shipping - Mode de livraison 4</label>
					<frontend_type>text</frontend_type>
					<sort_order>-16</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<informations translate="label">
							<label>Informations</label>
							<frontend_model>owebia_shipping2/adminhtml_system_config_form_field_informations</frontend_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</informations>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<config translate="label">
							<label>Configuration</label>
							<frontend_model>owebia_shipping2/adminhtml_system_config_form_field_config</frontend_model>
							<frontend_type>textarea</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</config>
						<tracking_view_url translate="label">
							<label>Tracking URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</tracking_view_url>
						<debug translate="label">
							<label>Debug</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{debug_help}</comment>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</debug>
						<compression translate="label">
							<label>Compression</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{compression_help}</comment>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</compression>
						<auto_escaping translate="label">
							<label>Auto-escaping</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{auto_escaping_help}</comment>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auto_escaping>
						<auto_correction translate="label">
							<label>Auto-correction</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>{auto_correction_help}</comment>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</auto_correction>
						<stop_to_first_match translate="label">
							<label>Stop to first match</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</stop_to_first_match>
						<sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sort_order>
					</fields>
				</owebiashipping4>
			</groups>
		</carriers>
	</sections>
	<sections>
		<owebia_shipping2 translate="label">
			<label>Owebia Shipping 2</label>
			<tab>owebia</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<weight_unit translate="label">
							<label>Weight unit</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</weight_unit>
					</fields>
				</general>
				<bundle_product translate="label">
					<label>Bundle Product Management</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<process_children translate="label">
							<label>Item processing</label>
							<comment>If "Self" is selected, options bellow are ignored</comment>
							<frontend_type>select</frontend_type>
							<source_model>owebia_shipping2/system_config_source_ProcessChildren</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</process_children>
						<load_item_options_on_parent translate="label">
							<label>Item options on</label>
							<comment>item.option.*</comment>
							<frontend_type>select</frontend_type>
							<source_model>owebia_shipping2/system_config_source_LoadOnParent</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</load_item_options_on_parent>
						<load_item_data_on_parent translate="label">
							<label>Item data on</label>
							<comment>item.*</comment>
							<frontend_type>select</frontend_type>
							<source_model>owebia_shipping2/system_config_source_LoadOnParent</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</load_item_data_on_parent>
						<load_product_data_on_parent translate="label">
							<label>Product data on</label>
							<comment>product.*</comment>
							<frontend_type>select</frontend_type>
							<source_model>owebia_shipping2/system_config_source_LoadOnParent</source_model>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</load_product_data_on_parent>
					</fields>
				</bundle_product>
				<configurable_product translate="label">
					<label>Configurable Product Management</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<load_item_options_on_parent translate="label">
							<label>Item options on</label>
							<comment>item.option.*</comment>
							<frontend_type>select</frontend_type>
							<source_model>owebia_shipping2/system_config_source_LoadOnParent</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</load_item_options_on_parent>
						<load_item_data_on_parent translate="label">
							<label>Item data on</label>
							<comment>item.*</comment>
							<frontend_type>select</frontend_type>
							<source_model>owebia_shipping2/system_config_source_LoadOnParent</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</load_item_data_on_parent>
						<load_product_data_on_parent translate="label">
							<label>Product data on</label>
							<comment>product.*</comment>
							<frontend_type>select</frontend_type>
							<source_model>owebia_shipping2/system_config_source_LoadOnParent</source_model>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</load_product_data_on_parent>
					</fields>
				</configurable_product>
			</groups>
		</owebia_shipping2>
	</sections>
</config>
